<% layout( '../layout' ) -%> 
<ol class="breadcrumb">
  <li><a href="#">圖表牆</a></li>
  <li class="active">範例圖表</li>
</ol>
<div class="container-fluid container">
	<h2>範例圖表</h2>

	<input id="page-value" type="text" class="hidden" value="1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI">
	<div class="section-chart index-section">
		<% include ../partials/chart %>
    
	</div>
</div>
<script>
pageUserControl = {
  chartType: {
    name: "<%= chartType_name %>",
    value: "<%= chartType_value %>"
  },
  xAxis: {
    name: "<%= xAxis_name %>",
    value: "<%= xAxis_value %>"
  },
  data: {
    name: "<%= data_name %>",
    value: <%- data_value %>
  },
  range: {
    name: "<%= range_name %>",
    min: <%= range_min %>,
    max: <%= range_max %>,
    minimum: <%= range_minimum %>,
    maximum: <%= range_maximum %>
  }
};
</script>